# игнорируем виртуальное окружение
.venv/
venv/

# игнорируем временные файлы/логи
__pycache__/
*.log
*.tmp

# игнорируем системные файлы macOS/IDE
.DS_Store
.idea/
.vscode/

# игнорируем реальные секреты
.env